#bar{
font-size:30px;
cursor:pointer;
}
#moda{
background-image:url("shoe2.jpg");
width:700px;
height:900px;
position:relative;
}
#x{
font-size:30px;
cursor:pointer;
padding:10px;
margin-top:5px;
}
#menu{
left:-258px;
position:absolute;
}
ul{
list-style-type:none;
}
li{
cursor:pointer;
padding:10px;
}
#top{
width:100%
}
#close{
float:left;
}
#menu1{
float:left;
}
#details{
clear:left;
}